*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pushster, "sans-serif";
}
.container {
  background-image: url("./nature.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background: no-repeat url("./nature.jpg") center cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  padding: 0 10px;
  min-height: 100vh;
}

.content {
  color: white;
}

.heading {
  font-family: Lato, "sans-serif";
  text-align: center;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: larger;
  border-radius: 10px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #ff0;
  padding: 10px 20px;
  background-color: rgba(244, 212, 231, 0.4);
  text-align: center;
}
